.parallax
{
    background-image: url("https://images8.alphacoders.com/388/thumb-1920-388815.jpg");
    /* width:1300px; */
    height:900px;
    /* margin-left: 300px; */
    display: flex;
    justify-content: center;
    margin-top: 500px;
   

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */